.modal-bg {
  background-color: rgba(19, 19, 19, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

.modal-w {
  margin: auto;
  height: 30%;
  width: 30%;


}


.close {
  position: fixed;
  top: 200px;
  margin: 0 430px auto;
}
