.ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.modal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;

}

.btn:active {
  transform: translateY(4px);
}

.btnActive {
  background-color: darkslateblue;
}

.input-info {
  background-color: rgba(91, 89, 89, 0.8);
  padding-top: 10px;
  padding-bottom: 5px;

}

