<div class="container  fPlace mx-10 my-5 px-3 py-3 w-50 p-2 bg-secondary rounded">
  <div class="sPlace ">
    <div class="input-group">
      <input (keydown.enter)="addTask()" [formControl]="newTaskControl" class="form-control "
             placeholder='Input Task...' type="text">
      <button (click)="addTask()"
              [disabled]="newTaskControl.invalid"
              class="btn btn-primary"
              type="submit"
      > Submit
      </button>
      <button (click)="clearTasks()"
              [disabled]="!todoTasks.length"
              class="btn btn-danger"
              type="button"
      >Clear All
      </button>
    </div>
    <div>
      <div class="container text-center mb-3 mt-3">
        <div class="row ">
          <div class="col">
            <button (click)="showActTasks()"
                    class="btn act btn-primary" type="button">Show Active Tasks {{actTasks}}</button>
          </div>
          <div class="col">
            <button (click)="showDoneTasks()" class="btn done btn-primary" type="button">Show Done
              Tasks {{doneTasks}}</button>
          </div>
          <div class="col">
            <button (click)="getTasks()" class="btn all btn-primary " type="button">Show All
              Tasks {{totalTasks}}</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <app-task (checkTask)="checkTask(task.id) "
            *ngFor="let task of todoTasks | paginate: { itemsPerPage: tasksPerPage, currentPage: p}"
            [deleteFn]="deleteTaskCallback"
            [task]="task">

  </app-task>
  <div class="mt-8 py-5 flex text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>
